# Core frameworks
Django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
python-decouple
python-dotenv

# RAG / NLP libraries
langchain
langchain-openai
langchain-community
langchain-core
langsmith
sentence-transformers
sentencepiece
transformers
openai
tiktoken

# Vector DB
# milvus-lite
pymilvus

# Image and PDF handling
PyMuPDF
python-docx
docx2txt
pillow
PyPDF2
pypdfium2
python-pptx
opencv-python

# Data processing
pandas
numpy
scikit-learn
scipy

# Visualization / Web
streamlit
altair
matplotlib-inline

# Async / HTTP
aiohttp
httpx
requests
uvicorn

# GRPC + OpenTelemetry
grpcio
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc

# Others
pytest
python-dateutil
pyyaml
protobuf
