Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
docx2txt
huggingface-hub
langchain
langchain-community
langchain-huggingface
langchain-openai
langsmith
ldap3
mysql-connector-python
opencv-python
openpyxl
PyJWT
pymilvus
PyMuPDF
PyPDF2
python-dateutil
python-decouple
python-doctr
python-docx
python-dotenv
python-pptx
pytz
PyYAML
requests
sentence-transformers
torch
torchvision
tqdm
transformers
uvicorn
